.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
$colors: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $type, $color in $colors {
  .btn-#{$type} {
    color: $color;
  }
}
